@use '../variables' as *;

.card {
    width: 100%;
    max-width: 320px;
    padding: 1rem;
    border-radius: 12px;
    background-color: $color-dark;
    opacity: 0.85;
    border: 1px solid $color-violet;
    box-shadow: 0 0 12px rgba(124, 58, 237, 0.6);
    position: relative;
    height: 100%;

    @media (min-width: 768px){
    opacity: 1;
    }
  
    h1 {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  
    p {
      font-size: 1rem;
      background: linear-gradient(to left, #ffffff, #a78bfa, #7c3aed);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }