@use '../variables' as *;

.header {
  box-shadow: 0 2px 10px rgba($color-violet, 0.5);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-violet;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: calc(var(--spacing) * 6);
    width: 100%;
    max-width: 768px;
  }


  nav a {
    &:hover {
      color: $color-neon-purple;
      text-shadow: 0 0 8px $color-neon-purple;
    }
  }
}